h2{
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  background-color: #D3D3D3;
  font-family: times new roman, roboto, sand serif;
}
  
  
body{
  background-color: #B0C4DE; 
  margin: 10% 15%;
}

h1{
  text-align: center;
  font-size: 50px;
}

hyvee{
  border-bottom: 2px solid black;
}

thinkbank{
  border-bottom: 2px solid black;
}
  
