.column {
  margin-left: 35%;
  float: left;
  width: 18%;
}

h1, h2, h4, li {
 font-family: Times new roman, Arial, Helvetica, sans-serif;
}

.exp {
  margin-left: 30%;
  float: ;
  width: 700%;
  background-color: 

}

h1 {
  font-size: 75px;
}


body {
  background-color: ;
  
}

.experience {
  background-color: grey
}

.summary {
  width: 60%
}

